// Файл обнуляющих стилей
@import "nullstyle.scss";
/*
html {
    font-size: calc(0.6em + 0.6vw)
}
*/
// Переменные для блока
$fz: 100px;
$color_1: #10b6fe;
$color_2: rgb(94, 67, 248);
$color_3: #525e69;
$color_cer: #b4b4b4;

// селекторы
[class*="__container"] {
   max-width: 1087px; // заданный +  зона безопасности (ниже padding)
   margin: 0 auto;
   padding: 0px 15px; // + зона безопасности
}
// end селекторы

// пример все (шапка, main, подвал) вложить в wrapper
.wrapper {
   // так построим тело и прибьем футер
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.main {
   flex: 1 1 auto; // на весь дисплей
}

.container {
   max-width: 1600px;
   margin: 0px auto;
   padding: 0px 10px;
}

// псевдоклассы
/*
.class:not(:last-child) {  // для класса только если обьект не последний
   margin: 0px 0px 12px 0px;
} 
*/
// end

// адапт видео
.experts__container {
   display: flex;
}
.expert__content {
   flex: 0 1 50%;
}

.expert__video {
   flex: 0 1 50%;
   padding: 0px 0px 28% 0px;
   position: relative;
   // доп тень, закругл борд
   box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
   border-radius: 8px;
   overflow: hidden;
}
.expert__video iframe {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover; // так же как с картинками
}
//  end адапт видео

/*2 цвета */

.bel2 {
   position: relative;
   color: black;
   -webkit-text-stroke: 0.03em #fffffd;
}

.bel2::before {
   /* второй слой */
   /*  content: attr(data-text);
    position: absolute;
    /* в том же месте той же ширины */
   /*   left: 0;
    right: 0;
    -webkit-text-stroke: .02em gold;
    */
}

a.no-after:after {
   content: none;
}

.d-none {
   display: none !important;
}

.clearfix {
   padding: 100px 10px;
}

.t-c {
   text-align: center !important;
}
.m-c {
   margin: 0 auto;
}

// цвета
.z_vk {
   color: #4d7198;
}
/*** a стили с плавным подчеркиванием ссылки***/
/*
a {   
   display: inline-block;
   color: #ffeb3b;
   line-height: 1;
   text-decoration: none;
   cursor: pointer;
   position: relative;
   border: none;

   &:after {
      background-color: #ffeb3b;
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      left: 50%;
      position: absolute;
      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
   }

   &:hover:after,
   :focus:after {
      width: 100%;
   }
}
*/
@import "nullstyle.scss";
@import "header.scss";
@import "glav.scss";
@import "woocomcss.scss";
@import "modal.scss";
@import "icon.scss";
/*
@import "header.scss";
@import "widget.scss";
*/
