/*** Модальное окно ***/
#openModal {
    p {
        margin-bottom: 0.3em !important;
    }
}
.p_mad_title {
    text-align: center !important;
    //  font-size: 3rem;
    @include adaptiv-value("font-size", 45, 20, 0);
    // ( свойство ,начальное макетное значение,минимальное значение свойства, режим)
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    display: none;
    /*
	pointer-events: none; /* позволяет контролировать события, при которых элемент может стать объектом события мыши.*/
    transition: opacity 400ms ease-in;
    & > .wplb_holder {
        max-width: 400px;
        position: relative;
        margin: 5px auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(to right, #fff 50%, rgb(94, 67, 248) 50%);
        background: -webkit-linear-gradient(to right, #fff 50%, rgb(94, 67, 248) 50%);
        background: -o-linear-gradient(to right, #fff 50%, rgb(94, 67, 248) 50%);
        background: linear-gradient(to right, #fff 50%, rgb(94, 67, 248) 50%);
        & p {
            text-align: justify;
            padding-top: 5px;
        }
    }
}

.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    &:hover {
        background: #00d9ff;
    }
}
/*** модальное  ***/

.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
}

.form-login label,
.form-login input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.form-login {
    & label {
        font-weight: bold;
        padding: 0px;
        @include adaptiv-value("font-size", 30, 15, 0);
    }
    & input {
        // padding: 0px 15px;
    }
    & label span {
        color: red;
    }
    & .bot-send-mail {
        padding: 15px;
        margin-top: 10px;
        background: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #10b6fe;
        cursor: pointer;
        border: 3px rgb(217, 217, 217) solid;
        border-radius: 5px;
        width: 100%;
        &:hover {
            color: #009b97;
            background-color: #fff;
        }
    }
    & p {
        font-size: 0.9em;
    }
}

.div_sub {
    padding-top: 1em;
}
#wp-submit {
    border-radius: 5px;
    background: $color_cer;
    &:hover {
        background: $color_3;
    }
}

.form-login_niz {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
}
.checkbox-after-label {
    display: inline-block;
    width: 45%;
    height: 100%;
}
.signin-signup__content {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.js-inPopup {
    width: auto !important;
    display: inline !important;
    // @include adaptiv-value("font-size", 15, 15, 0);
}

.external-auth-providers {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, 36px);
    grid-template-rows: repeat(auto-fit, 36px);
}

.tel7 {
    display: flex;
    & .tel7_2 {
        width: 94%;
    }
    & .tel7_1 {
        padding-top: 9.5px;
        padding-right: 5px;
    }
}

.d_zakaz {
    display: none;
}

.text-danger {
    color: red;
}

.form-error {
    position: relative;
    padding: 0.5rem 1rem 0.6rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: #dc3545;
    background-color: #dc35450d;
    border: 1px solid #dc3545;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
}

.form-result-success {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.25rem;
    border-radius: 4px;
    & > div {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid #eff4f1;
        z-index: 1001;
        border-radius: 0;
        color: #10b6fe;
        background-color: #eff4f1;
    }
}

.textarea.form-control {
    overflow: auto;
    resize: vertical;
    //height: auto;
}

.my_captcha {
    transform: scale(1);
    //transform-origin: 0 0;
    transform-origin: left top;
}

.g-recaptcha {
    display: table;
    margin: 0 auto;
}

.wpcf7-recaptcha > div {
    // margin: 0 auto;
}

.social-likes {
    display: flex;
}
.wplb_loading {
    animation: pulse 0.3s infinite;
    display: none;
    font-size: 12px;
}
@media (max-width: 767px) {
    .modalDialog > div {
        // max-width: 300px;
    }
    .my_captcha {
        transform: scale(0.72);
    }
}
/* iPads (горизонтальная) ----------- */

@media only screen and (min-width: 350px) and (max-width: 1200px) and (orientation: landscape) {
    .modalDialog > div {
        // min-height: 85%;
        // margin: 1% auto;
        //font-size: 0.7rem;
        & label {
            margin-bottom: 0;
        }
    }
    .text-danger {
        // font-size: 0.7rem;
    }
    .div_cap {
        max-height: 40px;
    }
    .my_captcha {
        transform: scale(0.5);
        // padding-left: 33%;
    }
    .form-login {
        & label {
            padding: 0px;
            //  font-size: 0.7rem;
        }
        & input {
            //  padding: 0px 0px;
        }
        & .bot-send-mail {
            padding: 0px;
            margin-top: 0px;
            border-radius: 5px;
        }
        .form-control {
            /*в jet*/
            padding: 0 0;
            //  font-size: 0.7rem;
        }
        & p {
            // font-size: 1.2vw;
            //  padding-top: 0px;
        }
    }
}
