@charset "UTF-8";
/*SCSS Миксин:*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
.wrapper {
   min-height: 100%;
}

.page {
   padding: 50px 0;
}
*/
.page__block {
  margin: 0px 0px 0px 0px;
}

/*--------------------*/
.block__container {
  max-width: 1600px;
  padding: 0px 15px;
  margin: 0px auto;
}

.block__body {
  padding: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.block__title {
  font-size: 30px;
  line-height: 130%;
  margin: 0px 0px 20px 0px;
}

.block__text {
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 1600px) {
  .block__body {
    padding: calc(20px + (50-20) * ((100vw -320px) / (1600 - 320)));
  }

  .block__title {
    padding: calc(20px + (30-20) * ((100vw -320px) / (1600 - 320)));
    margin-bottom: calc(20px + (50-20) * ((100vw -320px) / (1600 - 320)));
  }
}
/*
html {
    font-size: calc(0.6em + 0.6vw)
}
*/
.container {
  max-width: 1600px;
  margin: 0px auto;
  padding: 0px 10px;
}

/*2 цвета */
.bel2 {
  position: relative;
  color: black;
  -webkit-text-stroke: 0.03em #fffffd;
}

.bel2::before {
  /* второй слой */
  /*  content: attr(data-text);
   position: absolute;
   /* в том же месте той же ширины */
  /*   left: 0;
   right: 0;
   -webkit-text-stroke: .02em gold;
   */
}

a.no-after:after {
  content: none;
}

.d-none {
  display: none !important;
}

.clearfix {
  padding: 100px 10px;
}

.text-c {
  text-align: center !important;
}

/*** a стили с плавным подчеркиванием ссылки***/
/*
a {
   display: inline-block;
   color: #ffeb3b;
   line-height: 1;
   text-decoration: none;
   cursor: pointer;
   position: relative;
   border: none;

   &:after {
      background-color: #ffeb3b;
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      left: 50%;
      position: absolute;
      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
   }

   &:hover:after,
   :focus:after {
      width: 100%;
   }
}
*/
/*SCSS Миксин:*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
.wrapper {
   min-height: 100%;
}

.page {
   padding: 50px 0;
}
*/
.page__block {
  margin: 0px 0px 0px 0px;
}

/*--------------------*/
.block__container {
  max-width: 1600px;
  padding: 0px 15px;
  margin: 0px auto;
}

.block__body {
  padding: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.block__title {
  font-size: 30px;
  line-height: 130%;
  margin: 0px 0px 20px 0px;
}

.block__text {
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 1600px) {
  .block__body {
    padding: calc(20px + (50-20) * ((100vw -320px) / (1600 - 320)));
  }

  .block__title {
    padding: calc(20px + (30-20) * ((100vw -320px) / (1600 - 320)));
    margin-bottom: calc(20px + (50-20) * ((100vw -320px) / (1600 - 320)));
  }
}
/* header */
.main-navigation .menu-item-has-children > a::after,
.main-navigation .page_item_has_children > a::after {
  content: "";
  display: inline-block;
  font-family: Astra;
  font-size: 9px;
  font-size: 0.6rem;
  font-weight: 700;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  line-height: normal;
}

/**Для элементов текущей страницы**/
/*
.current-menu-item>a {
   color: red;
}


*/
.ast-site-identity {
  padding: 0;
}

.h-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}

.h_left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
}
.h_left__1 {
  padding: 15px 10px;
  inline-size: auto;
  color: #525e69;
}

#selectItem {
  padding: 0;
}

.h_right {
  margin: 0 auto;
  padding: 15px 10px;
  inline-size: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.site-header {
  z-index: 99;
  position: absolute;
  width: 100%;
}

.header-tools {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header-tools input {
  padding: 0;
  height: 30px;
}

.users {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button-ui_white {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #333;
  text-decoration: none;
  padding: 0 12px !important;
  height: 30px;
  border-radius: 8px;
  text-align: center;
}

#searchsubmit {
  width: 70px;
}

#searchform {
  /* вся форма, можно задать цвет, размер, отступы */
}

#searchform input[type=text] {
  /* поле ввода */
}

#searchform input[type=submit] {
  /* кнопка */
  /*
  min-width: 60px;
  width: 160px;
  height: 41px;
  position: absolute;
  background: url(/css-formy-poiska-wordpress/img/icon.png) no-repeat centr; /* иконка */
}

/***  кнопка вверх **/
.but__backToTop {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 20;
  background: #10b6fe;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 0;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.but__backToTop:active {
  background-color: #10b6fe;
  border-color: #10b6fe;
}
.but__backToTop:focus {
  background-color: #10b6fe;
  border-color: #10b6fe;
}
.but__backToTop:hover {
  background-color: #fe10d6;
  border-color: #10b6fe;
}

.App__backToTopIcon----3FHO {
  fill: #fff;
}

.path,
polygon {
  fill-opacity: 1;
}

/*** end кнопка вверх **/
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header-tools {
    display: none;
  }

  .site-description {
    display: none;
  }

  .site-header {
    top: "0px";
  }

  .site-branding img,
.site-header .site-logo-img .custom-logo-link img {
    max-width: 70px;
  }
}
.site-title a,
.site-title a:focus,
.site-title a:hover,
.site-title a:visited {
  color: #10b6fe;
}

.users_city {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.HeaderUserName {
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.HeaderUserName a {
  color: #525e69;
  text-align: center;
}
.HeaderUserName__image-container img {
  border-radius: 50%;
  max-width: 32px;
}
.HeaderUserName__image-container__name {
  font-size: 14px;
}
.HeaderUserName__image-container:hover ~ .menu_users {
  display: inline-table;
}

.menu_users {
  position: absolute;
  display: none;
  min-width: 140px;
  top: 48px;
  margin-left: -10px;
  border-top: 1px solid #dcdcdc;
  -webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 17px rgba(0, 0, 0, 0.15);
  z-index: 1001;
  background: #fff;
  border-radius: 4px;
  padding: 15px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left !important;
}
.menu_users:hover {
  display: inline-table;
}
.site-title {
  -webkit-animation-name: my_bounceIn;
          animation-name: my_bounceIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes my_bounceIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 4px;
  }
  30% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 5px;
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 5px;
  }
  80% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 6px;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 7px;
  }
  99% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 7px;
    opacity: 1;
  }
}

@keyframes my_bounceIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 4px;
  }
  30% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 5px;
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 5px;
  }
  80% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 6px;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 7px;
  }
  99% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 7px;
    opacity: 1;
  }
}
@media (max-width: 940px) {
  .h-top {
    display: none;
  }

  .users {
    padding-left: 10px;
  }

  .users_city {
    display: block;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}
#login h1 a {
  padding-bottom: 50px;
  line-height: 15;
}

.t_centr {
  text-align: center !important;
}

.red {
  color: red;
}

.ast-separate-container .ast-archive-description,
.ast-separate-container .ast-author-box {
  padding: 3em 6.67em 3.33333em;
  margin-top: 55px;
}

/*
.ast-separate-container.ast-right-sidebar #secondary,
.ast-separate-container.ast-left-sidebar #secondary {
   margin-top: 6em;
}
*/
.sidebar-main {
  margin-top: 5em;
}

.post-navigation {
  display: none;
}

@media (max-width: 767px) {
  .ast-separate-container .ast-archive-description {
    padding: 6em 1em 1em 1em;
  }

  .ast-separate-container .ast-article-single {
    padding: 6em 1em;
  }

  .ast-separate-container .ast-article-post,
.ast-separate-container .ast-article-single {
    padding: 0;
  }

  .elementor-widget-wrap {
    text-align: center !important;
  }
}
.d_osh {
  text-align: center;
  width: 100%;
  background-color: #fff;
}

#actions-list {
  margin: 0 auto;
}

.cont_act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.cont_act time {
  color: #949494;
  font-size: 14px;
}

.act_d_img {
  width: 150px;
  height: 150 px;
  padding-top: 15px;
}

.act_img {
  width: 80%;
  height: 50%;
}

.product_labels span {
  background: #10b6fe;
  font-size: 13px;
  margin-right: 10px;
}

.form_req::after {
  content: "*";
  width: 10px;
  height: 10px;
  font-size: 20px;
  color: #525e69;
  display: inline;
}

.stat_col_4 {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding: 0;
  min-height: 138px;
  display: -ms-grid;
  display: grid;
  margin: 0;
}

.stat__col {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
.stat__link {
  color: #5d5d64;
  font-size: 14px;
  line-height: 1.29;
}
.stat__title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.25;
  color: #525e69 !important;
}
.stat__description {
  font-size: 18px;
  line-height: 1.44;
}

.art__stat {
  margin: 0 10px;
}

.img_brend {
  max-width: 150px;
  max-height: 150px;
}

.img_glav_cont {
  position: relative;
  overflow: hidden;
  padding-bottom: 70%;
  /* this is the desired aspect ratio */
  max-width: 100%;
}
.img_glav_cont img {
  position: absolute;
  /* the following 3 properties center the image on the vertical axis */
  top: 0;
  bottom: 0;
  margin: auto;
  /* uses image at 100% width (also meaning it's horizontally center) */
  width: 90%;
  max-height: 100%;
}

.BrandBook__count {
  color: #b3b3b7;
  font-size: 30px;
  line-height: 38px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce-page ul.products li.product .woocommerce-loop-category__title {
  overflow: hidden;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  text-align: center;
}

@media (max-width: 767px) {
  .stat_col_4 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .img_glav_cont img {
    left: 0;
    right: 0;
    margin: auto;
    /* uses image at 100% width (also meaning it's horizontally center) */
    max-width: 80%;
  }

  .post-thumb-img-content {
    padding-top: 3em;
  }
}
.tel_fot {
  margin: 0 auto;
  text-align: center;
  padding: 0 0;
}

.ast-woo-shop-archive .site-content > .ast-container {
  padding-top: 5em;
}

.ast-right-sidebar #primary {
  border-right: 1px solid #eee;
  padding-top: 1em;
}

article .ast-no-meta {
  padding-top: 3em;
}

.woocommerce div.product {
  padding-top: 3em;
}
.woocommerce div.product .onsale {
  margin-top: 2em;
}

header .site-logo-img .custom-logo-link img {
  max-width: 70px;
}

ul.products li.product {
  word-wrap: break-word;
  -webkit-box-shadow: 0 25px 25px rgba(30, 31, 33, 0.12);
          box-shadow: 0 25px 25px rgba(30, 31, 33, 0.12);
}
ul.products li.product:hover {
  -webkit-box-shadow: 0 15px 25px #525e69;
          box-shadow: 0 15px 25px #525e69;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  text-align: center;
}

.woocommerce ul.products li.product .star-rating,
.woocommerce-page ul.products li.product .star-rating {
  margin: 0 auto;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce-page ul.products li.product .woocommerce-loop-product__title {
  max-height: 70px;
  overflow: hidden;
  height: 55px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link,
.woocommerce-page ul.products li.product .woocommerce-loop-product__link {
  min-height: 50px;
  overflow: hidden;
  max-height: 170px;
}

@media (max-width: 375) {
  .woocommerce div.product {
    padding-top: 10em;
  }
}
@media (max-width: 767px) {
  .woocommerce div.product {
    padding-top: 8em;
  }

  .ast-woocommerce-container {
    padding-top: 7em;
  }
}
@media (max-width: 1040px) {
  .woocommerce div.product {
    padding-top: 8em;
  }
}
@media (max-width: 1182px) {
  article .ast-no-meta {
    padding-top: 9em;
  }

  .ast-woocommerce-container {
    padding-top: 5em;
  }

  .woocommerce div.product .onsale {
    margin-top: 4em;
  }
}
/*** Модальное окно ***/
#openModal p {
  margin-bottom: 0.3em !important;
}

.p_mad_title {
  text-align: center !important;
  font-size: calc(20px + 25 * ((100vw - 320px) / 1600));
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  display: none;
  /*
  pointer-events: none; /* позволяет контролировать события, при которых элемент может стать объектом события мыши.*/
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modalDialog > .wplb_holder {
  max-width: 400px;
  position: relative;
  margin: 5px auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -o-linear-gradient(to right, #fff 50%, #5e43f8 50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #5e43f8));
  background: -o-linear-gradient(left, #fff 50%, #5e43f8 50%);
  background: linear-gradient(to right, #fff 50%, #5e43f8 50%);
}
.modalDialog > .wplb_holder p {
  text-align: justify;
  padding-top: 5px;
}

.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}

/*** модальное  ***/
.form-login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-login label,
.form-login input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-login label {
  font-weight: bold;
  padding: 0px;
  font-size: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.form-login label span {
  color: red;
}
.form-login .bot-send-mail {
  padding: 15px;
  margin-top: 10px;
  background: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #10b6fe;
  cursor: pointer;
  border: 3px #d9d9d9 solid;
  border-radius: 5px;
  width: 100%;
}
.form-login .bot-send-mail:hover {
  color: #009b97;
  background-color: #fff;
}
.form-login p {
  font-size: 0.9em;
}

.div_sub {
  padding-top: 1em;
}

#wp-submit {
  border-radius: 5px;
  background: #b4b4b4;
}
#wp-submit:hover {
  background: #525e69;
}

.form-login_niz {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox-after-label {
  display: inline-block;
  width: 45%;
  height: 100%;
}

.signin-signup__content {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js-inPopup {
  width: auto !important;
  display: inline !important;
}

.external-auth-providers {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, 36px);
  grid-template-rows: repeat(auto-fit, 36px);
}

.tel7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tel7 .tel7_2 {
  width: 94%;
}
.tel7 .tel7_1 {
  padding-top: 9.5px;
  padding-right: 5px;
}

.d_zakaz {
  display: none;
}

.text-danger {
  color: red;
}

.form-error {
  position: relative;
  padding: 0.5rem 1rem 0.6rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  color: #dc3545;
  background-color: #dc35450d;
  border: 1px solid #dc3545;
}

.progress {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.form-result-success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  border-radius: 4px;
}
.form-result-success > div {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #eff4f1;
  z-index: 1001;
  border-radius: 0;
  color: #10b6fe;
  background-color: #eff4f1;
}

.textarea.form-control {
  overflow: auto;
  resize: vertical;
}

.my_captcha {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.g-recaptcha {
  display: table;
  margin: 0 auto;
}

.social-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wplb_loading {
  -webkit-animation: pulse 0.3s infinite;
          animation: pulse 0.3s infinite;
  display: none;
  font-size: 12px;
}

@media (max-width: 767px) {
  .my_captcha {
    -webkit-transform: scale(0.72);
        -ms-transform: scale(0.72);
            transform: scale(0.72);
  }
}
/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 350px) and (max-width: 1200px) and (orientation: landscape) {
  .modalDialog > div label {
    margin-bottom: 0;
  }

  .div_cap {
    max-height: 40px;
  }

  .my_captcha {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }

  .form-login label {
    padding: 0px;
  }
  .form-login .bot-send-mail {
    padding: 0px;
    margin-top: 0px;
    border-radius: 5px;
  }
  .form-login .form-control {
    /*в jet*/
    padding: 0 0;
  }
}
/*
@import "header.scss";
@import "widget.scss";
*/